<header class="header">
    <div class="container-header">
        <img src="/public/assets/full_logo_white.png" alt="" srcset="">
        <nav class="menu_nav">
            <a href="/homepage.ejs">Home</a>
            <a href="/scheduleManagement.ejs">Schedule Management</a>
            <a href="/employeePage.ejs">Employee Page</a>
            <a href="/logout.ejs">Logout</a>
        </nav>
    </div>
</header>