<header class="header">
    <div class="container-header">
        <img src="/public/assets/full_logo_white.png" alt="" srcset="">
        <nav class="menu_nav">
            <a href="../pages/homepage.ejs">Home</a>
            <a href="../pages/newSchedule.ejs">Schedule Management</a>
            <a href="../pages/newSchedule.ejs">Employee Page</a>
            <a href="../pages/login.ejs">Logout</a>
        </nav>
    </div>
</header>