<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="res/styles.css">
    <link href="../../routes/signup.js">
    <link href="res/formHandler.js"
    <title>Sign Up</title>
</head>

<body>
    <div>
        <label for="firstname">First name: </label>
        <input id="firstname" name="first_name" type="text">
    </div>
    <div>
        <label for="lastname">Last name: </label>
        <input id="lastname" name="surname" type="text">
    </div>
    <div>
        <label for="email">Email: </label>
        <input id="email" name="email" type="email">
    </div>
    <div>
        <label for="password">Password: </label>
        <h3>Minimum 6 characters, containing at least one letter and one number</h3>
        <input id="password" name="password" type="password">
    </div>
    <div>
        <label for="confirm-password">Confirm password: </label>
        <input id="confirm-password" name="confirmPassword" type="text">
    </div>
    <button type="submit">Submit</button>
    <% if(message) { %>
        <p>%=message %></p>
    <%}%>
</body>

</html>